@import 'https://fonts.googleapis.com/css?family=Oswald:300|Slabo+27px';
body, html, #app {
  background-color: #000000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
background-color: #181818;
padding: 2px;
box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
text-align: center;
position: fixed;
overflow: hidden;
top : 0px;
height: auto;
width: 100%;
}

@Keyframes spin{
	100%{
		transform: rotate(360deg);
	}
}

:root {
  font-family: "Slabo 27px";
  font-size: 14px;
  color: #ffffff;
}


@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }
h3 {
  font-size: 20px;
}
}
@media screen and (min-width: 1024px) {
  :root {
    font-size: 18px;
  }
  h3 {
  font-size: 27px;
}
}
@media screen and (min-width: 1440px) {
  :root {
    font-size: 23px;
  }
  h3 {
  font-size: 30px;
}
}

h3 {
font-family: "Slabo 27px";
font-size: 18px;
color: #f89808;
text-align: center;
}

.posts {
  margin: 40px 0;
}
.post-thumbnail {
  max-width: 100%;
  margin-bottom: 1rem;
}
.post-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  padding: 20px;
}

.load-more {
  margin-bottom: 40px;
}

.post-item a {
  color: #f60;
}

.post-item a:hover {
  color: #f90;
  text-decoration: none;
}
